<div class="page-heading">
  <h1><i class='fa fa-list'></i> Muscle</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="widget">
      <div class="widget-header">
        <h2>Muscle</h2>
      </div>
      <div class="widget-content padding">
        <div class="dd" id="nestable">
          <ol class="dd-list">
            <li class="dd-item">
              <div class="dd-handle">
                <span class="orange"><%= @exercise_category.name %></span>
                <span class="lighter grey">
                    &nbsp; Ancestry: <%= @exercise_category.ancestry %>
                </span>

                <a title="Edit" href="<%= edit_exercise_category_path(@exercise_category) %>" class="pull-right tooltip-info dd-nodrag btn btn-primary btn-xs text-white-1">
                  <i class="fa fa-pencil"></i>
                </a>
              </div>

            </li>
          </ol>
        </div>
      </div>
    </div>

  </div>

</div>

