<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @training_plan.name %>
</p>

<%= link_to 'Edit', edit_training_plan_path(@training_plan) %> |
<%= link_to 'Back', training_plans_path %>
