<div class="pull-right">
  <%= link_to 'Creare New User', admin_new_path, :class => 'btn btn-success' %>
</div>
<div class="table-striped">
  <table class="" style="width: 100%; text-align: left">
    <tr>
      <th>User Email</th>
      <th>Type</th>
      <th>Activated On</th>
    </tr>
    <% @users.each do |user| %>

        <tr>
          <td><%= user.email %></td>
          <td><%= user.type.nil? ? 'User' : user.type %></td>
          <td><%= user.created_at %></td>
        </tr>
    <% end %>

  </table>

</div>
