<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exercise_plan.name %>
</p>

<%= link_to 'Edit', edit_exercise_plan_path(@exercise_plan) %> |
<%= link_to 'Back', exercise_plans_path %>
