@media screen and (max-width: 980px) {
  .container{
    padding-left: 8%;
  }
}
@media screen and (max-width: 768px) {
  .container{
    padding-left: 12%;
  }
}
@media screen and (max-width: 670px) {
  .container{
    padding-left: 15%;
  }
}
@media screen and (max-width: 510px) {
  .container{
    padding-left: 20%;
  }
}