@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");


body {
  background: none repeat scroll 0 0 white; }

nav.sidebar-menu-collapsed {
  width: 50px; }
nav.sidebar-menu-expanded {
  width: 280px; }
nav.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  background: none repeat scroll 0 0 #343838;
  color: white;
  padding: 20px 0px; }
nav.sidebar a#justify-icon {
  outline: 0;
  color: white;
  font-size: 2em;
  font-style: normal;
  text-align:right;
  padding:5px;
}
a#justify-icon:hover{
  background-color:#343838;
}
nav.sidebar ul {
  margin: 0;
  padding: 0;
  margin-top: 30px; }
nav.sidebar ul.main-menu li {
  background: #343838;
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  list-style-type: none;
  position: relative;
}
nav.sidebar ul li a.expandable {
  outline: 0;
  color: white;
  text-decoration: none;
  font-size: 20px; }
nav.sidebar ul li a.expandable:hover {
  color: #bbbbbb; }
nav.sidebar ul li a.expandable span.expanded-element, nav.sidebar a.expandable span.expanded-element {
  margin-left: 10px;
  display: none;
  font-size: 11px;
  position: relative;
  bottom: 2px; }
nav.sidebar ul li.active {
  background: none repeat scroll 0 0 black;
  border-radius: 4px;
  text-align: center;
  margin-left: -4px;
  padding: 4px; }
nav.sidebar ul li.active a.expandable {
  color: white !important; }
nav.sidebar ul li.active a.expandable:hover {
  color: white !important; }

#page-content-wrapper .navbar-default{
  margin-left: 50px;
  top: -20px;
}
.glyphicon, .fa{
  font-size: 15px;
  color: #888;
}
span.fa-bars {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  font-size:1em;
}

span.fa.fa-bars:hover{
  color:white;
}

span.glyphicon-off {
  color: #eb5055;
}
hr.divider {
  border-color: rgba(255,255,255,0.1);
  width: 100%;
  margin: 10px 5%;
  display: block;
  clear: both;
}
.profile-image {
  border: 4px double rgba(255,255,255,0.2);
  width:100%;
}
.rounded-image {
//  -webkit-border-radius: 100px;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
  width:100%;
  height:auto;
}
.collapsed-element{
  display:inline-block;
}
.profile-image span.collapsed-element img{
  vertical-align: middle;
  width: 100%;
  height:auto;
}

/*done by faruk hossen*/

.topmost-secion{
  height:30px;
  text-align:right;
  padding-right:10px;
}
.topmost-secion .heading{
  text-align:center;
}
.sidebar-menu-collapsed .profile-info{
  width:100%;
}
.sidebar-menu-collapsed .topmost-secion .expanded-element{
  display:none;
}
.sidebar-menu-expanded .topmost-secion .expanded-element{
  display:inline-block;
  color:red;
  width:80%;
  text-align: center;
}
.search-box-custom{
  position:relative;
  height:auto;
  width:100%;
  margin-top:10px;
  overflow:hidden;
  margin-bottom:10px;
}
.sidebar-menu-collapsed .search-box-custom:hover{
  width:200px;
}

.search-text{
  width:100%;
  display:block;
  color:white;
  overflow:hidden;
  background-color:#2f3232;
  border-color: #2f3232;
}
.search-text:focus{
  background-color:#555555;
  border-color: #555555;
}
.search-text:hover{
  border:none;
}
.search-button{
  position:absolute;
  right:5px;
  top:0;
  margin:0;
  border:none;
  background:transparent;

}

.sidebar-menu-expanded .profile, .sidebar-menu-expanded .user{
  height:80px;
}
.sidebar-menu-collapsed .profile, .sidebar-menu-collapsed .user{
  height:auto;
}
.sidebar-menu-collapsed .user{
  padding-left:10px;
}
.sidebar-menu-collapsed .user-info{
  margin-top:0px;
}
.sidebar-menu-expanded .user-info{
  margin-top:15px;
}
.sidebar-menu-collapsed .user-info{
  margin-top:0px;
}
.message-icon,.signout-icon{
  padding:2px;
  border-radius:2px;
}
.signout-icon:hover,.message-icon:hover{
  background:#000;
}

.sidebar-menu-expanded .user-info .signout-icon{
    margin-left:10px;
}
.sidebar-menu-collapsed .user-info .signout-icon,.sidebar-menu-collapsed .user-info .message-icon{
  margin-top:5px;
  margin-left:5px;
}
.sidebar-menu-collapsed .user-heading{
  display:none;
}

nav.sidebar ul li.dashboard{
  background-color:#68c395;
  height:40px;
  border-left:5px solid #49886F;
  position:relative;
}
nav.sidebar ul li.dashboard > a{
  padding-left:10px;
  background-color:#68c395;
  color:white;
  padding-top:10px;
}

nav.sidebar ul li.dashboard .left-arrow-wrapper{
  position:absolute;
  right:-22px;
  height:40px;
  width:40px;
  top:1px;
}
nav.sidebar ul li.dashboard .left-arrow-wrapper .left-arrow{
  display:inline-block;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;

  border-right:19px solid white;
}
.sub-menu {
  display:none;
}

.form-box{
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}
.sidebar ul.main-menu > li{
  position:relative;
}
ul,li,li >a{
  width:100%;
}
li > a.expandable{
  display:inline-block;
  padding-left: 15px;
  height:30px;
  padding-top:5px;
  padding-bottom:5px;
}
.sidebar ul.main-menu li > a.expandable.open{
  background-color:black;
}
li >a.expandable .dropdown-icon{
  position:absolute;
  right:5px;
  font-size:.8em;
  top:7px;
}
.sidebar-menu-collapsed li >a.expandable .dropdown-icon{
  display:none;
}
.sidebar-menu-expanded li >a.expandable .dropdown-icon{
  display:inline;
}
.sidebar ul.sub-menu{
  margin-top:7px;
  padding-left:15px;
}

.sidebar ul.sub-menu li>a{
  background-color:inherit;
  color:white;
  width:inherit;
}
.sidebar ul.sub-menu li {
  width:100%;
}
.sidebar ul.sub-menu li>a:hover{
  color:white;
}

.sidebar-menu-collapsed li ul.sub-menu{
  position:absolute;
  left:50px;
  top:-7px;
  height:auto;
  width:250px;
  z-index: 100;
  background-color: rgba(0,0,0,1);
}
.sidebar-menu-collapsed li ul.sub-menu li{
  background:rgba(0,0,0,1);
}
.container{
  width: 100%;
}
nav.sidebar{
  z-index: 1;
}

