@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");


body {
  background: none repeat scroll 0 0 white; }

nav.sidebar-menu-collapsed {
  width: 50px; }
nav.sidebar-menu-expanded {
  width: 280px; }
nav.sidebar {
  float: left;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  background: none repeat scroll 0 0 #343838;
  color: white;
  padding: 20px 10px; }
nav.sidebar a#justify-icon {
  outline: 0;
  color: white;
  font-size: 24px;
  font-style: normal; }

nav.sidebar ul {
  margin: 0;
  padding: 0;
  margin-top: 30px; }
nav.sidebar ul li {
  background: #343838;
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
  position: relative;
}
nav.sidebar ul li a.expandable {
  outline: 0;
  color: white;
  text-decoration: none;
  font-size: 20px; }
nav.sidebar ul li a.expandable:hover {
  color: #bbbbbb; }
nav.sidebar ul li a.expandable span.expanded-element, nav.sidebar a.expandable span.expanded-element {
  margin-left: 10px;
  display: none;
  font-size: 11px;
  position: relative;
  bottom: 2px; }
nav.sidebar ul li.active {
  background: none repeat scroll 0 0 black;
  border-radius: 4px;
  text-align: center;
  margin-left: -4px;
  padding: 4px; }
nav.sidebar ul li.active a.expandable {
  color: white !important; }
nav.sidebar ul li.active a.expandable:hover {
  color: white !important; }

#page-content-wrapper .navbar-default{
  margin-left: 50px;
  top: -20px;
}
.glyphicon, .fa{
  font-size: 15px;
  padding-left: 5px;
  color: #888;
}
span.fa-bars {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
}
span.glyphicon-off {
  color: #eb5055;
}
hr.divider {
  border-color: rgba(255,255,255,0.1);
  width: 100%;
  margin: 10px 5%;
  display: block;
  clear: both;
}
.profile-image {
  border: 4px double rgba(255,255,255,0.2);
}
.rounded-image {
//  -webkit-border-radius: 100px;
  border-radius: 100px;
  overflow: hidden;
  display: inline-block;
}
.profile-image span.collapsed-element img{
  vertical-align: middle;
  width: 35px;
  height: 35px;
}

.form-box{
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}
