<div class="page-heading">
  <h1><i class='fa fa-list'></i> Muscles</h1>
  <h3>Muscles list</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-header">
        <h2><strong>Muscles</strong> DataTable</h2>
      </div>
      <div class="widget-content">
        <br>

        <div class="table-responsive">
          <form class='form-horizontal' role='form'>
            <table id="datatables-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                  <tr>
                    <th>Name</th>
                    <th>Muscle group</th>
                    <th></th>
                  </tr>
              </thead>

              <tbody>
                  <% @muscles.each do |muscle| %>
                      <tr>
                        <td><%= muscle.name %></td>
                        <td><%= muscle.muscle_group.name %></td>
                        <td><%= link_to 'Show', muscle %></td>
                      </tr>
                  <% end %>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

