<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @muscle_group.name %>
</p>

<%= link_to 'Edit', edit_muscle_group_path(@muscle_group) %> |
<%= link_to 'Back', muscle_groups_path %>
