<li id="dashboard" class="dashboard">
  <a class='expandable ' href='<%= admin_index_path %>' title='Home'>
    <span class='glyphicon glyphicon-home collapsed-element'></span>
    <span class='expanded-element'>Home</span>
  </a>
  <div class="left-arrow-wrapper"><span class="left-arrow"></span></div>
</li>
<li id="management">
  <a class='expandable' href='#' title='Customer management'>
    <span class='glyphicon glyphicon-plus-sign collapsed-element'></span>
    <span class='expanded-element'>Customer management</span>
    <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
  </a>
  <ul class="sub-menu">
        <li id="customer"><a href="#">Customer</a></li>
        <li><a href="#">Type of customers</a></li>
        <li><a href="#">Table of services</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Goals</a></li>
        <li><a href="#">Level</a></li>
        <li><a href="#">Records</a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Statistics</a></li>
  </ul>
</li>
<li id="exercises">
  <a class='expandable' href='#' title='Exercises'>
    <span class='glyphicon glyphicon-heart-empty collapsed-element'></span>
    <span class='expanded-element'>Exercises</span>
    <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
  </a>
  <ul class="sub-menu">
      <li id="full-list"><a href="<%= exercises_path %>">Full List</a></li>
      <li id="new-exercise"><a href="<%= new_exercise_path %>">New Exercise</a></li>
  </ul>
</li>
<li id="nutrition">
  <a class='expandable' href='#' title='Nutrition'>
    <span class='fa fa-male collapsed-element'></span>
    <span class='expanded-element'>Nutrition</span>
    <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
  </a>
  <ul class="sub-menu">
        <li><a href="#">Plans</a></li>
        <li><a href="#">Items</a></li>
  </ul>
</li>
<li id="programs">
  <a class='expandable' href='#' title='Programs'>
    <span class="fa fa-cutlery collapsed-element"></span>
    <span class='expanded-element'>Programs</span>
    <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
  </a>
</li>
<li id="evaluation">
  <a class='expandable' href='#' title='Physical Evaluation'>
    <span class="fa fa-file-text"></span>
    <span class='expanded-element'>Physical Evaluation</span>
    <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
  </a>
  <ul class="sub-menu">
        <li><a href="#">Evaluation Protocols</a></li>
        <li><a href="#">Evaluation Tests</a></li>
        <li><a href="#">Category of Tests</a></li>
  </ul>
</li>
<li id="question">
  <a class='expandable' href='#' title='Questionnaires'>
    <span class="glyphicon glyphicon-briefcase"></span>
    <span class='expanded-element'>Questionnaires</span>
    <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
  </a>
  <ul class="sub-menu">
        <li><a href="#">Issues</a></li>
        <li><a href="#">Type of Answers</a></li>
  </ul>

</li>
<li id="contents">
  <a class='expandable' href='#' title='Contents'>
    <span class="glyphicon glyphicon-euro"></span>
    <span class='expanded-element'>Contents</span>
    <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
  </a>
  <ul class="sub-menu">
        <li><a href="#">Articles</a></li>
        <li><a href="#">Tips</a></li>
        <li><a href="#">Recipes</a></li>
  </ul>
</li>
<li id="posts">
  <a class='expandable' href='#' title='Posts'>
    <span class="fa fa-envelope"></span>
    <span class='expanded-element'>Posts</span>
    <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
  </a>
  <ul class="sub-menu">
    <li><a href="#">This is item1</a></li>
    <li><a href="#">This is item2</a></li>
    <li><a href="#">This is item3</a></li>
    <li><a href="#">This is item4</a></li>
  </ul>
</li>