<li id="dashboard" class="dashboard">
  <a class='expandable ' href='<%= user_index_path %>' title='Dashboard'>
    <span class='glyphicon glyphicon-home collapsed-element'></span>
    <span class='expanded-element'>Dashboard</span>
  </a>
  <div class="left-arrow-wrapper"><span class="left-arrow"></span></div>
</li>
<li id="management">
  <a class='expandable' href='#' title='Input'>
    <span class='glyphicon glyphicon-plus-sign collapsed-element'></span>
    <span class='expanded-element'>Input</span>
    <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
  </a>
  <ul class="sub-menu">
        <li><a href="#">This is item1</a></li>
        <li><a href="#">This is item2</a></li>
        <li><a href="#">This is item3</a></li>
        <li><a href="#">This is item4</a></li>
  </ul>
</li>
<li id="exercises">
  <a class='expandable' href='#' title='Programs'>
    <span class='glyphicon glyphicon-heart-empty collapsed-element'></span>
    <span class='expanded-element'>Programs</span>
    <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
  </a>
  <ul class="sub-menu">
        <li><a href="#">This is item1</a></li>
        <li><a href="#">This is item2</a></li>
        <li><a href="#">This is item3</a></li>
        <li><a href="#">This is item4</a></li>
  </ul>
</li>
<li id="nutrition">
  <a class='expandable' href='#' title='Trainer'>
    <span class='fa fa-male collapsed-element'></span>
    <span class='expanded-element'>Trainer</span>
    <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
  </a>
  <ul class="sub-menu">
    <li><a href="#">This is item1</a></li>
    <li><a href="#">This is item2</a></li>
    <li><a href="#">This is item3</a></li>
    <li><a href="#">This is item4</a></li>
  </ul>
</li>
<li id="programs">
  <a class='expandable' href='#' title='Food'>
    <span class="fa fa-cutlery collapsed-element"></span>
    <span class='expanded-element'>Food</span>
    <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
  </a>
</li>
<li id="evaluation">
  <a class='expandable' href='#' title='Reports'>
    <span class="fa fa-file-text"></span>
    <span class='expanded-element'>Reports</span>
    <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
  </a>
  <ul class="sub-menu">
        <li><a href="#">This is item1</a></li>
        <li><a href="#">This is item2</a></li>
        <li><a href="#">This is item3</a></li>
        <li><a href="#">This is item4</a></li>
  </ul>
</li>
<li id="question">
  <a class='expandable' href='#' title='Contents'>
    <span class="glyphicon glyphicon-briefcase"></span>
    <span class='expanded-element'>Contents</span>
    <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
  </a>
  <ul class="sub-menu">
        <li><a href="#">This is item1</a></li>
        <li><a href="#">This is item2</a></li>
        <li><a href="#">This is item3</a></li>
        <li><a href="#">This is item4</a></li>
  </ul>

</li>
<li id="contents">
  <a class='expandable' href='#' title='Servicing'>
    <span class="glyphicon glyphicon-euro"></span>
    <span class='expanded-element'>Servicing</span>
    <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
  </a>
  <ul class="sub-menu">
        <li><a href="#">This is item1</a></li>N
        <li><a href="#">This is item2</a></li>
        <li><a href="#">This is item3</a></li>
        <li><a href="#">This is item4</a></li>
  </ul>
</li>
<li id="posts">
  <a class='expandable' href='#' title='Posts'>
    <span class="fa fa-envelope"></span>
    <span class='expanded-element'>Posts</span>
    <i class="glyphicon glyphicon-chevron-down expanded-element dropdown-icon"> </i>
  </a>
  <ul class="sub-menu">
    <li><a href="#">This is item1</a></li>
    <li><a href="#">This is item2</a></li>
    <li><a href="#">This is item3</a></li>
    <li><a href="#">This is item4</a></li>
  </ul>
</li>