<div id="sidebar-menu">
  <ul>
    <li>
      <a href='<%= user_index_path %>' class="active" id='dashboard'>
        <i class='icon-home-3'></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a href='<%= user_calendar_path %>' id='schedule'>
        <i class='icon-calendar'></i>
        <span>Calendar</span>
      </a>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>